// normalize
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	div {
		width:100%;
	}
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

// Colors
$white: #FFFFFF;
$background-grey: #F3F3F3;

$text-light-grey: #CACBCC;
$text-dark-grey: #838791;
$text-color: #575A61;

$primary: #26344D;
$primary-darker: #212E45;

$red: #F85E5E;

// Fonts

@font-face {
  font-family: 'Nunito';
  src: url('https://fonts.googleapis.com/css?family=Nunito:300,400,700');
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url('https://fonts.googleapis.com/css?family=Permanent+Marker');
  font-style: normal;
}

$font-bold: 700;
$font-regular: 400;
$font-light: 300;

$Nunito: 'Nunito', sans-serif;
$Marker: 'Permanent Marker', cursive;

$h1: 40px;
$h2: 32px;
$h3: 26px;

$text-highlight: 22px;
$text-size: 14px;
$text-menu: 12px;

// Spacings

$spacing1: 8px;
$spacing2: 16px;
$spacing3: 24px;
$spacing4: 32px;
$spacing5: 48px;
$spacing6: 96px;

// styling site

h2 {
  font-family: $Marker;
  font-size: $h2;
  color: $primary;
}

h3 {
  font-family: $Marker;
  font-size: $h3;
  color: $primary;
}

span {
	font-family: $Nunito;
	font-size: $text-size;
	color: $primary;
}

.navigation {
	height:40px;
	width: 100%;
	position:absolute;
	top:0;
	left:0;
	z-index: 2;
	display: flex;
	flex-direction: row;
	
	div {
		padding: $spacing1;
		display: flex;
	}
	div:first-child {
		width:33%;
	}
	div:last-child {
		justify-content: flex-end;
	}
	
	img {
		max-width: 130px;
		min-height: 20px;
		padding: 0 $spacing1;
	}
	
	ul {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-end;
	}
	
	li {
		padding: 0 $spacing1;
		
		a {
			text-decoration: none;
			color: $white;
			font-family: $Nunito;
			font-size: $text-menu;
			font-weight: $font-bold;
			text-transform: uppercase;
		}
	}
}

.menu__link {
	position: relative;
	display: block;
	padding: 0.65em 0;
	text-align: center;
	color: $white;
	-webkit-transition: background 0.3s, color 0.3s;
	transition: background 0.3s, color 0.3s;
}

.menu__link:hover,
.menu__link:focus {
	color: $red;
}

.header {
  height: 90vh;
  background-color: $primary;
  overflow: hidden;
  position: relative;
	display: flex;
	justify-content: center;
  
	div {
		max-width: 732px;
		padding:$spacing2;
		margin: auto;
	}
	@media screen and (max-width: 500px) {
		h1 {
			font-family: $Nunito;
			font-weight: $font-light;
			font-size: $h3;
			color: $white;
			text-align: center;
			position: relative;
			z-index: 1;
			line-height: 38px;
		}
	  span {
	    font-weight: $font-bold;
	    text-decoration: none;
			color: $white;
			font-size: $h3;
	  }
	}
	@media screen and (min-width: 500px) {
		h1 {
			font-family: $Nunito;
			font-weight: $font-light;
			font-size: $h1;
			color: $white;
			text-align: center;
			position: relative;
			z-index: 1;
			line-height: 60px;
		}
		
	  span {
	    font-weight: $font-bold;
	    text-decoration: none;
			color: $white;
			font-size: $h1;
	  }
	}
	
  img {
    position: absolute;
    top: 0;
    left: 0;
  }

}

.grillCase {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	max-width: 984px;
	margin: $spacing4 auto;
}

.ref {
	display: block;
	max-width: 460px;
	min-width: 288px;
	padding:0 $spacing2;
	margin-bottom: $spacing5;
	
	h3 {
		margin: $spacing1 0;
	}
	
	span {
		display: block;
		text-transform: uppercase;
	}
	
	img {
		width: 100%;
	}
}

.job-title {
	font-size: $text-size;
	font-weight: $font-bold;
	line-height: 18px;
}

.job-skills {
	color: $text-dark-grey;
	font-size: $text-menu;
	font-weight: $font-light;
	line-height: 18px;
	margin-bottom: $spacing1;
}

.footer {
	width:100%;
	background-color:$primary;
	color: $white;
	
	h3 {
		color: $white;
	}
	div:first-child {
		padding: $spacing2 0;
		max-width: 984px;
		margin: 0 auto;
		display: flex;
		flex-flow: wrap;
		justify-content: space-between;
	}
	
	div:last-child {
		background-color: $primary-darker;
		margin-top: $spacing3;
		display: flex;
		justify-content: space-between;
		padding: $spacing3 0;
		
		img {
			padding: 0 $spacing2;
		}
		
		@media screen and (max-width: 500px) {
			h3 {
				display: none;
			}
		}
		
		span {
			color: $white;
			padding: $spacing1 $spacing2;
		}
	}
}

.brand {
	padding: $spacing2;
	width: 288px;
	
	h3 {
		font-size: $text-highlight;
		margin-bottom: $spacing1;
	}
	span {
		display: block;
		color: $white;
		font-size: $text-menu;
		font-weight: $font-light;
		line-height: 18px;
		text-transform: uppercase;
		opacity: .5;
	}
}