// normalize
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	div {
		width:100%;
	}
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

// Colors
$white: #FFFFFF;
$background-grey: #F3F3F3;

$title-grey: #CACBCC;
$text-grey: #838791;
$text-primary: #4D5D80;

$primary: #26344D;
$primary-darker: #212E45;

$red: #F85E5E;

// Fonts

@font-face {
  font-family: 'Nunito';
  src: url('https://fonts.googleapis.com/css?family=Nunito:300,400,700');
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url('https://fonts.googleapis.com/css?family=Permanent+Marker');
  font-style: normal;
}

$font-bold: 700;
$font-regular: 400;
$font-light: 300;

$Nunito: 'Nunito', sans-serif;
$Marker: 'Permanent Marker', cursive;

$h1: 40px;
$h2: 32px;
$h3: 26px;

$text-highlight: 22px;
$text-current: 14px;
$text-menu: 12px;

// Spacings

$spacing1: 8px;
$spacing2: 16px;
$spacing3: 24px;
$spacing4: 32px;
$spacing5: 48px;
$spacing6: 96px;

// styling site

h2 {
  font-family: $Marker;
  font-size: $h2;
  color: $text-primary;
	margin-bottom: $spacing2;
}

h3 {
  font-family: $Marker;
  font-size: $h3;
  color: $text-primary;
}

span {
	font-family: $Nunito;
	font-size: $text-current;
	color: $text-primary;
}

p {
	font-family: $Nunito;
	font-size: $text-current;
	font-weight: $font-light;
	color: $text-grey;
	line-height: $spacing3;
}

.navigation {
	height:40px;
	width: 100%;
	position:absolute;
	top:0;
	left:0;
	z-index: 2;
	display: flex;
	flex-direction: row;
	
	div {
		padding: $spacing1;
		display: flex;
	}
	div:first-child {
		width:33%;
	}
	div:last-child {
		justify-content: flex-end;
	}
	
	img {
		max-width: 130px;
		min-height: 20px;
		padding: 0 $spacing1;
	}
	
	ul {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-end;
	}
	
	li {
		padding: 0 $spacing1;
		
		a {
			text-decoration: none;
			color: $white;
			font-family: $Nunito;
			font-size: $text-menu;
			font-weight: $font-bold;
			text-transform: uppercase;
		}
	}
}

.menu__link {
	position: relative;
	display: block;
	padding: 0.65em 0;
	text-align: center;
	color: $white;
	-webkit-transition: background 0.3s, color 0.3s;
	transition: background 0.3s, color 0.3s;
}

.menu__link:hover,
.menu__link:focus {
	color: $red;
}

.header {
  height: 90vh;
  background-color: $primary;
  overflow: hidden;
  position: relative;
	display: flex;
	justify-content: center;
  
	div {
		max-width: 732px;
		padding:$spacing2;
		margin: auto;
	}
	@media screen and (max-width: 500px) {
		h1 {
			font-family: $Nunito;
			font-weight: $font-light;
			font-size: $h3;
			color: $white;
			text-align: center;
			position: relative;
			z-index: 1;
			line-height: 38px;
		}
	  span {
	    font-weight: $font-bold;
	    text-decoration: none;
			color: $white;
			font-size: $h3;
	  }
	}
	@media screen and (min-width: 500px) {
		h1 {
			font-family: $Nunito;
			font-weight: $font-light;
			font-size: $h1;
			color: $white;
			text-align: center;
			position: relative;
			z-index: 1;
			line-height: 60px;
		}
		
	  span {
	    font-weight: $font-bold;
	    text-decoration: none;
			color: $white;
			font-size: $h1;
	  }
	}
	
  img {
    position: absolute;
    top: 3%;
    left: 3%;
		height: 80%;
  }

}

.grillCase {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	max-width: 984px;
	margin: $spacing4 auto;
}

.dribbble {
	display: flex;
	max-width: 984px;
	margin: $spacing4 auto $spacing6 auto;
	justify-content: center;
	
	section {
		max-width: 600px;
		display: flex;
		flex-direction: column;
		
		img {
			width: 100px;
			margin: $spacing2 auto;
		}
		
		span {
			text-align: center;
			font-size: $text-highlight;
			line-height: 28px;
		}
		
	}
}

.ref {
	display: block;
	max-width: 460px;
	min-width: 288px;
	padding:0 $spacing2;
	margin-bottom: $spacing5;
	
	h3 {
		margin: $spacing1 0;
	}
	
	span {
		text-transform: uppercase;
	}
	
	img {
		width: 100%;
	}
}

.job-title {
	display: block;
	font-size: $text-current;
	font-weight: $font-bold;
	line-height: 18px;
}

.job-skills {
	display: block;
	color: $text-grey;
	font-size: $text-menu;
	font-weight: $font-light;
	line-height: 18px;
	margin-bottom: $spacing1;
}

.footer {
	width:100%;
	background-color:$primary;
	color: $white;
	
	h3 {
		color: $white;
	}
	div:first-child {
		padding: $spacing2 0;
		max-width: 984px;
		margin: 0 auto;
		display: flex;
		flex-flow: wrap;
		justify-content: space-between;
	}
	
	div:last-child {
		background-color: $primary-darker;
		margin-top: $spacing4;
		display: flex;
		justify-content: space-between;
		padding: $spacing4 0;
		
		img {
			padding: 0 $spacing2;
		}
		
		@media screen and (max-width: 500px) {
			h3 {
				display: none;
			}
		}
		
		span {
			color: $white;
			padding: $spacing1 $spacing2;
		}
	}
}

.brand {
	padding: $spacing2;
	width: 288px;
	
	h3 {
		font-size: $text-highlight;
		margin-bottom: $spacing1;
	}
	span {
		display: block;
		color: $white;
		font-size: $text-menu;
		font-weight: $font-light;
		line-height: 18px;
		text-transform: uppercase;
		opacity: .5;
	}
}

.body {
	display: flex;
	max-width: 984px;
	margin: $spacing4 auto;
	justify-content: center;
	
	section {
		display: flex;
		flex-direction: column; 
		max-width: 600px;
		min-width: 288px;
		justify-content: center;
		padding: 0 $spacing2;
		
		h3 {
			margin:$spacing5 0 $spacing2 0;
		}
		
		img {
			width: 288px;
			margin: $spacing3 auto;
		}
		
		li {
			display: flex;
			justify-content: space-between;
			margin-bottom: $spacing3;
				
			span {
				color: $text-grey;
				font-weight: $font-light;
				line-height: $spacing3;
			}
			
			span:last-child {
				text-align: right;
			}
			
			b {
				font-weight: $font-bold;
			}
		}
	}
}

.title-case {
	display: flex;
	justify-content: space-between;
	margin: $spacing4 auto $spacing5 auto;
	max-width: 984px;
	
	h2 {
		padding: 0 $spacing2;
	}
	
	div {
		text-align: right;
		padding: 0 $spacing2;
	}
}

.problem {
	margin: 0 $spacing2;
	
	section {
		margin: -10px auto $spacing4 auto;
	}
	
	div {
    display: flex;
    flex-direction: column;
    max-width:  984px;
    margin: 0 auto;
	}
}

.situation {
	background-color: $background-grey;
	
	div {
		display: flex;
    flex-direction: column;
    max-width:  984px;
    margin: 0 auto;
		padding-top: $spacing4;
	}
	
	h3 {
		padding: 0 $spacing2;
	}
	
	@media screen and (min-width: 500px) {
		h3 {
			margin-bottom: $spacing5;
		}
	}
	@media screen and (max-width: 500px) {
		h3 {
			margin-bottom: $spacing4;
		}
		img {
			height: 80px;
		}
	}
	
	img {
		padding: 0 $spacing2;
	}
}

.card {
	max-width: 600px;
	padding: $spacing4;
	background-color: $white;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	
	h3 {
		margin-bottom: $spacing2;
	}
	
	p {
		font-size: $text-highlight;
		line-height: 28px;
	}
	
	div {
		font-family: $Marker;
		font-size: $h1;
		text-align: center;
		color: $text-primary;
		margin: $spacing2 0;
	}
}